html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --app-height: 100vh;
  --theme-color: #27b2e3;
  --theme-color-lighten: #85d6f4;
  --theme-color-darken: #0d6d97;
  --dark-text: #9f9f9f;
  --white-text: #fff;
}